#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export CPPFLAGS += $(shell pkg-config --cflags libopenjp2)

%:
	dh $@ --parallel --with autoreconf

override_dh_makeshlibs:
	dh_makeshlibs -V 'libicns1 (>= 0.7.0)'
